.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tmp
.Rprofile
errorReportSql.txt
*.log
sql/sql_server/BaseCohort01.sql
sql/sql_server/BaseCohort02.sql
sql/sql_server/BaseCohort03.sql
sql/sql_server/BaseCohort04.sql
sql/sql_server/BaseCohort05.sql
sql/sql_server/BaseCohort06.sql
sql/sql_server/BaseCohort07.sql
sql/sql_server/BaseCohort08.sql
sql/sql_server/BaseCohort09.sql
sql/sql_server/BaseCohort10.sql
sql/sql_server/CohortCensorDates.sql
sql/sql_server/CohortEndDayPersistence.sql
sql/sql_server/CohortStartDayPersistence.sql
sql/sql_server/CopyCohorts.sql
sql/sql_server/CopyCohortsTempTable.sql
sql/sql_server/EraFyCohorts.sql
sql/sql_server/FilterByCohortPeriod.sql
sql/sql_server/FilterByMinimumPostObservationPeriod.sql
sql/sql_server/FilterByMinimumPriorObservationPeriod.sql
sql/sql_server/FilterCohortByCalendarPeriod.sql
sql/sql_server/IntersectCohorts.sql
sql/sql_server/KeepErasWithOverlap.sql
sql/sql_server/MinusCohorts.sql
sql/sql_server/PersistEndOfContinuousObservationPeriod.sql
sql/sql_server/LimitOccurrence.sql
sql/sql_server/DemographicCritera.sql
