.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tmp
.Rprofile
errorReportSql.txt
*.log
sql/CopyCohorts.sql
sql/EraFyCohorts.sql
sql/IntersectCohorts.sql
sql/MinusCohorts.sql
*.sqlite
sql/sql_server/CopyCohorts.sql
sql/sql_server/IntersectCohorts.sql
sql/sql_server/MinusCohorts.sql
sql/sql_server/EraFyCohorts.sql
